@import '~@fortawesome/fontawesome-free/css/all.min.css';
.red-row {
  background: red !important;
}
.orange-row {
  background: orange !important;
}
.green-row {
  background: green !important;
}
.white-row {
    background-color: white !important;
  }
  .right-img {
    width: 10rem;
    height: 10rem;
}

.password-container {
  position: relative;

}
*
{
  font-family: 'Inter', sans-serif;
}
.password-toggle {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: small;
}